@{

    FormUI form = new FormUI();
    form.GetFormFromDTO(Model);
    var formSetting = Model as FormDTO;
    ViewData["Title"] = formSetting.FormTitle;
}

<div class="col-md-12">
    @Html.Raw(form.ToHtml())
</div>