@{

    FormUI form = new FormUI();
    form.GetFormFromDTO(Model);
    var formSetting = Model as FormDTO;
    ViewData["Title"] = formSetting.FormTitle;
}
<div class="forms-container">
    <div class="form-card">
        <div class="form-header">
            <h2 class="form-title">@formSetting.FormTitle</h2>
            <p class="form-subtitle">@formSetting.FormDescription</p>
        </div>
        @Html.Raw(form.ToHtml())
    </div>

</div>

